.wait-wrapper {
  width: 100%;
  min-height: 100vh;
  background: rgb(240, 241, 243);
  .wait-header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 3rem;
    line-height: 3rem;
    background: rgb(75, 88, 192);
    z-index: 99;
    color: #fff;
    .iconfont {
      position: absolute;
      left: 0.9rem;
      font-size: 1rem;
    }
    span {
      position: absolute;
      left: 2.8rem;
      font-size: 0.8rem;
      line-height: 3rem;
    }
  }
  .wait-container {
    margin-top: 3rem;
    padding-top: 0.1rem;
    .wait-nothing {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 6.5rem;
      height: 7rem;
      img {
        width: 100%;
      }
      p {
        font-size: 0.6rem;
      }
    }
  }
  
}