@font-face {
  font-family: "iconfont"; /* Project id 3563447 */
  src: url('iconfont.woff2?t=1659448666209') format('woff2'),
       url('iconfont.woff?t=1659448666209') format('woff'),
       url('iconfont.ttf?t=1659448666209') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchu:before {
  content: "\e62f";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-fanhuijiantou:before {
  content: "\e8b5";
}

.icon-bofangqi-bofangxiaodianshi:before {
  content: "\e6ab";
}

.icon-shouye:before {
  content: "\e62e";
}

.icon-huiyuan:before {
  content: "\e640";
}

.icon-pinglun:before {
  content: "\e60e";
}

.icon-airudiantubiaohuizhi-zhuanqu_youxi:before {
  content: "\e69d";
}

.icon-xiangzuojiantou:before {
  content: "\e64c";
}

.icon-wode:before {
  content: "\e8bb";
}

.icon-fengche:before {
  content: "\e625";
}

.icon-youjian:before {
  content: "\e617";
}

