.wrapper {
  width: 100%;
  padding: 10px 8px;
  background: rgba(50, 50, 50, 0.06);
}

.content {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  font-size: 48px;
  user-select: none;
  background-size: cover;
} 