.wrapper {
  width: 100%;
  padding: 10px;
  background: rgba(55, 55, 55, 0.1);
}

.content {
  height: 200px;
  background: rgba(55, 55, 55, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  font-size: 48px;
  user-select: none;
  background-size: cover;
} 