.edit-wrapper {
  width: 100%;
  .edit-header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 3rem;
    line-height: 3rem;
    background: rgb(75, 88, 192);
    z-index: 99;
    color: #fff;
    .iconfont {
      position: absolute;
      left: 0.9rem;
      font-size: 1rem;
    }
    span {
      position: absolute;
      left: 2.8rem;
      font-size: 0.8rem;
      line-height: 3rem;
    }
  }
}