.link {
  margin-top: 2.7vh;
  border-bottom: 0.05rem solid rgba(0, 0, 0, 0.15);
  span {
    margin-left: 3vh;
    font-size: 2.1vh;
    color: #000;
  }
  .icon-container {
    height: 15.6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    text-align: center;
    .icon {
      width: 10.5vh;
      height: 10.5vh;
      padding: 0.9vh;
      img {
        width: 100%;
      }
      p {
        width: 10.5vh;
        padding-right: 1.8vh;
        font-size: 1.8vh;
        color: #000;
      }
    }
  }
  .icon-container::-webkit-scrollbar {
    width: 0 !important;
  }
}
.bottom {
  width: 100%;
  height: 9vh;
  text-align: center;
  line-height: 9vh;
  span {
    font-size: 2.7vh;
    color: #000;
  }
}
.adm-tabs {
  --active-line-color: rgb(255, 93, 146);
}
.adm-tabs-tab-active {
  color: #000;
  font-weight: 500;
}
.adm-popup-body {
  background-color: rgb(246, 247, 249);
}