.wv-container {
  position: relative;
  width: 95%;
  height: 5.2rem;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  border-radius: 0.3rem;
  background-color: #fff;
  .wv-img {
    float: left;
    width: 7.8rem;
    height: 5.2rem;
    img {
      width: 100%;
      border-radius: 0.3rem;
    }
  }
  .wv-time {
    position: absolute;
    bottom: 0.2rem;
    right: 10.4rem;
    background: rgba(50, 50, 50, 0.5);
    border-radius: 0.15rem;
    padding: 0.05rem 0.15rem;
    span {
      font-size: 0.6rem;
      color: #fff;
    }
  }
  .wv-title {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -moz-box;
    -moz-line-clamp: 2;
    -moz-box-orient: vertical;
    overflow-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    overflow: hidden;
    padding: 0.1rem;
    span {
      font-size: 0.8rem;
      color: #000;
    }
  }
  .wv-up {
    position: absolute;
    bottom: 1.6rem;
    left: 8.4rem;
    border: 0.05rem solid pink;
    padding: 0 0.15rem;
    span {
      font-size: 0.65rem;
      color: #000;
    }
  }
  .wv-data {
    .data-bofang {
      position: absolute;
      left: 8.4rem;
      bottom: 0.25rem;
    }
    .data-pinglun {
      position: absolute;
      right: 3rem;
      bottom: 0.25rem;
    }
    i {
      font-size: 0.65rem;
    }
    span {
      padding-left: 0.2rem;
      font-size: 0.65rem;
    }
  }
  .wv-pop {
    position: absolute;
    right: 0.5rem;
    bottom: 0.3rem;
    font-size: 1rem;
    color: rgb(186, 186, 186);
    transform: rotate(90deg);
  }
}
.wv-popup {
  position: relative;
  height: 2.45rem;
  line-height: 2.45rem;
  border-bottom: 0.05rem solid #eee;
  .wv-icon {
    position: absolute;
    top: 0.8rem;
    left: 0.6rem;
    font-size: 0.85rem;
    color: rgb(232, 138, 173);
  }
  span {
    padding-left: 2.2rem;
    font-size: 0.75rem;
  }
}
.wv-pop-bottom {
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  span {
    color: #000;
    font-size: 0.75rem;
  }
}