.good-detail-wrapper {
  position: relative;
  .good-detail-header {
    .detail-back {
      position: absolute;
      top: 0.75rem;
      left: 0.75rem;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      background: rgba(40, 40, 40, 0.4);
      i {
        position: absolute;
        top: 0.25rem;
        left: 0.45rem;        
        font-size: 1rem;
        color: #fff;
      }
    }
    .detail-share {
      position: absolute;
      right: 0.75rem;
      top: 0.75rem;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      background: rgba(40, 40, 40, 0.4);
      .share-icon {
        position: absolute;
        top: 0.3rem;
        left: 0.3rem;
        font-size: 0.85rem;
        color: #fff;
      }
    }
  }
  .good-detail-img {
    width: 100%;
    height: 10rem;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .good-detail-price {
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    margin-top: 8.75rem;
    background: linear-gradient(to right, rgb(2, 71,232), rgb(3, 190, 233));
    span {
      font-size: 0.8rem;
      color: #fff;
    }
  }
  .good-detail-title {
    position: relative;
    width: 85%;
    height: 2.5rem;
    line-height: 2.5rem;
    border-bottom: 0.05rem solid #eee;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -moz-box;
    -moz-line-clamp: 2;
    -moz-box-orient: vertical;
    overflow-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    overflow: hidden;
    span {
      font-size: 0.75rem;
      color: #000;
      font-weight: bold;
    }
  }
  .good-detail-like {
    position: absolute;
    right: 0.55rem;
    top: 21.3rem;
    i {
      font-size: 1.1rem;
      &.active {
        color: red;
      }
    }
    span {
      position: absolute;
      right: -0.1rem;
      bottom: -0.6rem;
      font-size: 0.6rem;
    }
  }
  .good-detail-rank {
    display: flex;
    height: 2.5rem;
    line-height: 2.5rem;
    border-bottom: 0.05rem solid #eee;
    img {
      margin-left: 0.25rem;
      margin-top: 0.55rem;
      width: 4.5rem;
      height: 1.4rem;
    }
    span {
      font-size: 0.65rem;
      color: #000;
    }
  }
  .good-detail-bottom {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3rem;
    border-top: 0.05rem solid rgb(244, 244, 244);
    .detail-icon {
      width: 2rem;
      height: 2rem;
      line-height: 2rem;
      background: rgb(244, 244, 244);
      border-radius: 50%;
      i {
        font-size: 1.1rem;
        color: gray;
      }
    }
    .add-cart {
      width: 5rem;
      height: 2.2rem;
      line-height: 2.2rem;
      border: 0.05rem solid rgb(232, 75, 135);
      border-radius: 1.3rem;
      span {
        color: rgb(232, 75, 135);
        font-weight: 500;
      }
    }
    .buy-now {
      width: 8rem;
      height: 2.2rem;
      line-height: 2.2rem;
      background: rgb(234, 75, 116);
      border-radius: 1.3rem;
      span {
        color: #fff;
        font-weight: 500;
      }
    }
  }
}