@font-face {
  font-family: "iconfont"; /* Project id 3546241 */
  src: url('iconfont.woff2?t=1658755831178') format('woff2'),
       url('iconfont.woff?t=1658755831178') format('woff'),
       url('iconfont.ttf?t=1658755831178') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhuijiantou:before {
  content: "\e8b5";
}

.icon-xiangzuojiantou:before {
  content: "\e64c";
}

