:root {
  --s: 8;
  --h: 30;
  --speed: 5s;
}

.g-container {
  margin: auto;
  margin-left: -0.5rem;
  height: calc(var(--h) * 0.05rem);
  line-height: calc(var(--h) * 0.05rem);
  font-size: 0.6rem;
  transform: scale(0.83333);
  color: #000;
  overflow: hidden;
}

ul {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  animation: move calc(var(--speed) * var(--s)) steps(var(--s)) infinite;
}

ul li {
  flex-shrink: 0;
  width: 100%;
  box-sizing: border-box;
  white-space: nowrap;
  cursor: pointer;
  animation: limove calc(var(--speed)) infinite;
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, calc(var(--s) * var(--h) * -0.05rem));
  }
}

@keyframes limove {

  0% {
    transform: translate(0, 0);
  }

  20%,
  100% {
    transform: translate(0, calc(var(--h) * -0.05rem));
  }
}